<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h1>Create New List</h1>
            <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter Title"  class="form-control" required>
                    <div class="valid-feedback">Title Looks Good!</div>
                    <div class="invalid-feedback">Title Can't be Empty!</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="listing[description]" placeholder="Enter Description" class="form-control" required>
                    <div class="invalid-feedback">Description Can't be Empty!</div>
                </div> 
                <div class="mb-3">
                    <label for="category" class="form-label">Select Categories</label>
                    <select class="form-select" name="listing[category]" aria-label="Select Categories">
                        <option value="FarmHouse">FarmHouse</option>
                        <option value="Resort">Resort</option>
                        <option value="Villa">Villa</option>
                        <option value="WaterVilla">WaterVilla</option>
                        <option value="Beach">Beach</option>
                        <option value="Mountain">Mountain</option>
                        <option value="TreeHouse">TreeHouse</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Camping">Camping</option>
                        <option value="Castle">Castle</option>
                        <option value="Island">Island</option>
                        <option value="Mansion">Mansion</option>
                        <option value="Dome">Dome</option>
                        <option value="TinyHome">TinyHome</option>
                        <option value="BoatHouse">BoatHouse</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
                    <div class="invalid-feedback">Price Can't be Empty!</div>

                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
                        <div class="invalid-feedback">Location Can't be Empty!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control" required>
                        <div class="invalid-feedback">Country Can't be Empty!</div>
                    </div>
                </div>
                <br>
                <button class="btn btn-dark addbtn mb-4">Add</button>
            </form>
        </div>
    </div>
</body>
